/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active
  transition: all .5s
.fade-transform-enter
  opacity: 0
  transform: translateX(-30px)
.fade-transform-leave-to
  opacity: 0
  transform: translateX(30px)
 .expand-enter-active
   transform all 1s ease
   opacity 1
 .expand-leave-active
   transition all 3s ease
   height 0
   opacity 0
 .expand-enter,.expand-leave
   height 0
   opacity 0
