//$font-size-20 = 20px
//$font-size-22 = 22px
//$font-size-24 = 24px
//$font-size-26 = 26px
//$font-size-28 = 28px
//$font-size-30 = 30px
//$font-size-32 = 32px
//$font-size-34 = 34px
//$font-size-36 = 36px
//$m-15 = 15px
$distanceHead= 60px; /* 距离 导航栏头部*/
$coverEnSize = 26px;  /*产品背景英文大小*/
$productChunkBottom = 72px; /*產品chunk 底部*/

/** page > product  产品页面里面每阁模块底部的间隙*/
$productChunkMarginBottom = 68px;
$productChunkMarginBottom-small = (68/2)px;

/*组要宽度*/
$main_w = 1140px
